hr{
    width: medium;
    border-style: dotted;
    background-color: rgb(108, 16, 237);
}
h{
   color:rgb(14, 17, 1); 
   font-size: 25px;
}
h1{
    font-size: 20px;
    color: rgb(1, 18, 27);

}
div{
    column-count: 3;
    column-width: auto;
    column-rule-style: black;
    column-width: 250px;
    column-gap: 30px;
    column-rule: 2px solid black;
}
h2{
    color:rgb(1, 13, 5); 
    font-size: 20px;
}
.zagolovok{
    column-count: 2;
    column-width: auto;
    column-rule-style: black;
    column-width: 250px;
    column-gap: 30px;
    column-rule: 2px solid black;
}