.item_1{
    background-color: rgb(43, 15, 225);
 
 }
 .item_2{
     background-color: rgb(255, 17, 0);
  }
  .item_3{
     background-color: rgb(236, 199, 12);
  }
  .item_4{
     background-color: rgba(11, 118, 29, 0.699);
  }
 
  .item_5{
     background-color: rgb(176, 201, 17);
  }
  .item_6{
     background-color: rgb(10, 206, 227);
  }